.comment {
  display: flex;
  padding: 5px 0;
}

.comment .avatar {
  width: 35px;
  height: 35px;
}

.comment-text {
  flex: 1;
  padding: 10px;
  background-color: #eee;
  border-radius: 20px;
  font-size: 14px;
}

.comment-text strong {
  margin-right: 5px;
}
